.feed {
  flex: 0.6;
  margin: 0 20px;
}
.feed_inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}
.feed_input {
  display: flex;
}
.feed_avatar {
  margin-top: 3px;
  margin-left: 7px;
  margin-right: 0px;
}

.feend_input > form {
  display: flex;
}
.feed_input > form > input {
  border-radius: 20px;
  border: 1px solid gray;
  flex: 1;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 0px;
  width: 150%;
  height: 33px;
  font-size: 15px;
  font-weight: 10px;
}
.feed_input > form > button {
  display: none;
}
.feed_inputOption {
  display: flex;
  justify-content: space-between;
}
